<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi Familia</h1>
    <p1>Mi mama se llama {{mama.nombre}}, tiene {{mama.edad}} años, {{mama.fecha_nac}}</p1>
    <br>                                
    <p1>Mi papa se llama {{papa.nombre}}, tiene {{papa.edad}} años, {{papa.fecha_nac}}</p1>
    <br>
    <p1>Mi hermano se llama {{hermano.nombre}}, tiene {{hermano.edad}} años, {{hermano.fecha_nac}}</p1>
</body>
</html> 