<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Estas buscando al profesor: {{nombre}}</p>

        <ul>
        {% for profes in profesor %}
            <li> Nombre: {{profes.nombre}} </li>
            <li> Apellido: {{profes.apellido}} </li>
            <li> Correo: {{profes.correo}} </li>
            <li> Profesion: {{profes.profesion}} </li>

        {% endfor %}
        </ul>

</body>
</html>